/*body {
    background: #000;;
}

nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.name {
    color: #FF7F50;
    margin: 10px 40px;
}

nav ul li a:hover{
    color: #FF7F50;
    background-color: #fff;
    border-radius: 45px;
    padding: 0 8px;
}
    */
