.about-text{
    padding: 0;
}

.project-box{
    width: 350px;
    height: 220px;
    background-color: aqua;
    border-radius: 45px;
    margin-top: 20px;
}

.link-buttons{
    margin: 20px;
}

.about-col-1 {
    flex-basis: 40%;
}

.about-img {
    width: 100%;
    border-radius: 15px;
    width: 350px;
    height: 300px;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-me {
    
}